<h1 id="principal_title">Contact</h1>
<div class="wrapper_general wrapper_padding">
  <div class="form">
  <%= form_for @contact do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :message, "Message" %>
      <%= f.text_area :message, as: :text %>
    </div>
    <div class="form-group">
      <%= f.text_field :nickname , type:'hidden' %>
      <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    </div>
  <% end %>
  </div>
</div>
